##########################################################
#
# Properties for Frescott(Local)
#
##########################################################

### DataSource
dataSourceClassName=com.mysql.jdbc.Driver
dataSource.user=root
dataSource.password=
dataSource.jdbcUrl=jdbc:mysql://localhost:3306/dongal?useUnicode=true&characterEncoding=UTF8

### Hibernate DDL
hibernate.hbm2ddl.auto=create

### Hibernate Logging
hibernate.show_sql=true
hibernate.format_sql=true
