<!--Modal Part-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">공지사항 찾기</h4>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" placeholder="찾고자 하는 키워드를 입력해주세요.">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                <button type="button" class="btn btn-warning">찾기</button>
            </div>
        </div>
    </div>
</div>

<!-- Contents -->
<div class="container">
    <div class="row">
        <div class="col-xs-3 col-sm-10">
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default pull-left dropdown-toggle" data-toggle="dropdown" aria-expanded="false">기간<span class="caret"></span></button>
                    <ul class="dropdown-menu pull-left" role="menu">
                        <li><a href="#">모든 날짜</a></li>
                        <li><a href="#">지난 1일</a></li>
                        <li><a href="#">지난 1주</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-9 col-sm-2">
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default pull-right dropdown-toggle" data-toggle="dropdown" aria-expanded="false">카테고리<span class="caret"></span></button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">디연</a></li>
                        <li><a href="#">학식</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="row text-center text-bold">
        <div class="col-xs-3 col-sm-2">즐겨찾기</div>
        <div class="col-xs-6 col-sm-8">리스트 목록</div>
        <div class="col-xs-3 col-sm-2">삭제</div>
    </div>

    <div class="row">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="favorite in favorites">
                <span class="badge">{{ favorite.list.length }} </span>
                <div class="row list-content-date collapse-header" data-target="#fav_list_id{{ $index }}" ng-click="collapse($event)">{{ favorite.date }}</div>
                <div id="fav_list_id{{ $index }}" class="collapse row list-content-details">
                    <div ng-repeat="detail in favorite.list">
                      <div ng-include src="'views/templates/favorite_item.html'"></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- /container -->
