    <style>
        .th {
            text-align:center;
        }
        .h6 {
            text-align:center;
        }
        .Table {
            display: table;
            width : 95%;
            margin: auto;
        }

        .Heading {
            display: table-row;
            font-weight: bold;
            text-align: center;
        }

        .Row {
            display: table-row;
            font-weight:bold;
            text-align:center;
        }

        .Cell {
            display: table-cell;
            border:solid;
            border-width: thin;
            padding: 25px 25px 25px 25px;
        }
    </style>
</head>

<!-- Contents -->
<div class="jumptron">
    <div class="container">
        <div class="row">
            <div class="Table">
                <div class="Row">
                    <div class="Cell col-xs-3">
                        <span><a href="home"><img src="assets/images/glyphicons/png/glyphicons-21-home.png" width="27" height="26" /></a></span>
                    </div>
                    <div class="Cell col-xs-3">
                        <span><img src="assets/images/glyphicons/png/glyphicons-40-notes.png" width="27" height="26" /></span>
                    </div>
                    <div class="Cell col-xs-3">
                        <span><img src="assets/images/glyphicons/png/glyphicons-66-tag.png" width="27" height="26" /></span>
                    </div>
                    <div class="Cell col-xs-3">
                        <span><a href="more/settings"><img src="assets/images/glyphicons/png/glyphicons-137-cogwheel.png" width="27" height="26" /></a></span>
                    </div>
                </div>
                <div class="Row">
                    <div class="Cell col-xs-3">
                        <span><img src="assets/images/glyphicons/png/glyphicons-344-thumbs-up.png" width="27" height="26" /></span>
                    </div>
                    <div class="Cell col-xs-3">
                        <span><img src="assets/images/glyphicons/png/glyphicons-576-uk-rat-18.png" width="27" height="26" /></span>
                    </div>
                    <div class="Cell col-xs-3">
                        <span><img src="assets/images/glyphicons_social/png/social-31-facebook.png" width="27" height="26" /></span>
                    </div>
                    <div class="Cell col-xs-3">
                        <span><img src="assets/images/glyphicons_social/png/social-32-twitter.png" width="27" height="26" /></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /container -->
