{% extends "base2.html" %}
{% block content %}
  
<style>
  .icon-join {
    margin-left: 0.5%;
    margin-right: 0.5%;
    width: 10%;
    height: 10%;
  }
</style>

<div class="container">
  <img class="img-center" width="50%" height="50%" src="static/images/logo.png" />

  <h3 class="text-center"> 가입 방식 선택 </h3>
  <div class="text-center">
    <a href="joinMail">
      <img class="icon-join" src="static/images/icon-mail.png" />
    </a>
    <a href="#">
      <img class="icon-join" src="static/images/icon-fb.png" />
    </a>
    <a href="#">
      <img class="icon-join" src="static/images/icon-twitter.png" />
    </a>
  </div>
</div>
{% endblock %}
