{% extends "base.html" %}
{% block content %}
<!-- Contents -->
<div class="container">

{#    <div class="row text-center text-bold">
        <div class="col-xs-3 col-sm-2">즐겨찾기</div>
        <div class="col-xs-6 col-sm-8">리스트 목록</div>
        <div class="col-xs-3 col-sm-2">삭제</div>
    </div>#}

    <div class="row">
        <ul class="list-group">
            {% for favorite in favorites %}
            <li class="list-group-item">
                <span class="badge">{{ favorite|length }}</span>
                <div class="row list-content-date collapse-header" data-target="#list_value_id{{ loop.index }}">{{ favorite.date }}</div>
                <div id="list_value_id{{ loop.index }}" class="collapse row list-content-details">
                    {% for detail in favorite.list %}
                        <a class="col-xs-10" href="{{ detail.url }}">{{ detail.title }}</a>
                        <button class="col-xs-2 btn btn-warning text-center">★</button>
                    {% endfor %}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

</div>
{% endblock %}
