{% extends "base2.html" %}
{% block content %}

<div class="container">
  <h2>Email 발송이 완료되었습니다. 이메일을 확인해주세요.</h2>
  <h2>1분이 지나도 메일이 안온다면, 아래 버튼하여 이메일을 재발송 하세요.</h2>
  <form id="sendVerifyForm" style="display: inline-block;">
    <input type="hidden" name="userIdx" value="{{ userIdx }}" />
    <input type="hidden" name="email" value="{{ email }}" />
    <input type="submit" class="btn btn-primary btn-lg" value="재발송">
  </form>
  <form id="reloadForm" method="post" style="display: inline-block;">
    <input type="hidden" name="email" value="{{ email }}" />
    <input type="hidden" name="password" value="{{ password }}" />
    <input type="submit" class="btn btn-default btn-lg" value="인증 완료">
  </form>
</div>
<script>
  alert('아직 인증되지 않았습니다.');
</script>
{% endblock %}
