{% extends "base.html" %}
{% block content %}
<!-- Contents -->
<div class="container">
    <div class="make-line text-center text-bold row">
        <div class="col-xs-6">카테고리</div>
        <div class="col-xs-6">ON/OFF</div>
    </div>

    <div class="row make-line-bottom" ng-repeat="category in categories">
        <div class="col-xs-6 text-center" >{{ category.name }}</div>
        <div class="col-xs-6 text-center">
            <input type="checkbox" ng-model="category.isAble" bs-switch switch-size="{{ mini }}" />
        </div>
    </div>
</div>
<!-- /container -->
{% endblock %}
