<!--items format-->
<div id="carousel-event" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-event" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-event" data-slide-tp="1"></li>
        <li data-target="#carousel-event" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <button class="btn btn-warning text-center gogo">☆</button>
            <div class="carousel-caption"></div>
        </div>
        <div class="item">
            <a class="text-over-hide" href="{{ detail.url }}">{{ detail.title }}</a>
            <div class="carousel-caption"></div>
        </div>
        <div class="itme">
            <button class="col-xs-2 btn btn-danger text-center gogo">Del</button>
            <div class="carousel-caption"></div>
        </div>
    </div>
</div>

<!--<button class="col-xs-2 btn btn-warning text-center gogo">★</button>
<a class="col-xs-8 text-over-hide" href="{{ detail.url }}">{{ detail.title }}</a>
<button class="col-xs-2 btn btn-danger text-center gogo">Del</button>-->